@use "../tools/" as *;

.main-container {
  padding: 20px 72px 80px 72px;
  display: flex;
  @include media-max($tablet-l) {
    display: block;
  }
  @include media-max($desktop-m) {
    padding: 20px 3vw 80px 3vw;
  }
  @include media-min($desktop-xl) {
    padding: 20px 13vw 80px 13vw;
  }
}

.right-container {
  margin-left: 32px;
  width: 100%;
  @include media-max($tablet-l) {
    margin-left: 0;
  }
}

.search-and-sorting {
  display: flex;
  justify-content: space-between;
}
