@use "../tools/" as *;

.category-item {
  height: 55px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: solid $cardBackground 1px;
  margin-bottom: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
  @include media-min($tablet-l) {
    width: 260px;
  }

  &:hover {
    background-color: $yellow;
  }

  &.active {
    background-color: $yellow !important;
  }

  img {
    height: 55px;
    transform: translateX(-46px);
  }

  span {
    transform: translateX(-36px);
  }
}

.categories-title {
  font-family: $PlayfairDisplay;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 32px;
}
