@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

fieldset,
button {
  border: none;
  background: none;
}

/* inputs */
input,
button,
textarea,
select {
  font-style: inherit;
  -webkit-padding-start: 0;
  align-items: flex-start;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit],
button {
  cursor: pointer;
}

#root,
body {
  background-color: #0E1325;
  color: #E5E7EB;
}

body {
  font-family: "Outfit", sans-serif;
}

.main-container {
  padding: 20px 72px 80px 72px;
  display: flex;
}
@media (max-width: 990px) {
  .main-container {
    display: block;
  }
}
@media (max-width: 1280px) {
  .main-container {
    padding: 20px 3vw 80px 3vw;
  }
}
@media (min-width: 1440px) {
  .main-container {
    padding: 20px 13vw 80px 13vw;
  }
}

.right-container {
  margin-left: 32px;
  width: 100%;
}
@media (max-width: 990px) {
  .right-container {
    margin-left: 0;
  }
}

.search-and-sorting {
  display: flex;
  justify-content: space-between;
}

.category-item {
  height: 55px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: solid #394150 1px;
  margin-bottom: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (min-width: 990px) {
  .category-item {
    width: 260px;
  }
}
.category-item:hover {
  background-color: #FEBD2E;
}
.category-item.active {
  background-color: #FEBD2E !important;
}
.category-item img {
  height: 55px;
  transform: translateX(-46px);
}
.category-item span {
  transform: translateX(-36px);
}

.categories-title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 32px;
}

.sort-custom-select-container {
  display: flex;
  background-color: #E5E7EB;
  color: #0E1325;
  padding: 12px 24px;
  border-radius: 50px;
}
.sort-custom-select-container label {
  margin-right: 8px;
}
.sort-custom-select-container div {
  font-weight: 700;
  margin-right: 8px;
}
.sort-custom-select-container .custom-select-options {
  position: absolute;
  background-color: #E5E7EB;
  border-radius: 12px;
  padding: 12px 24px;
  transform: translateX(-24px);
}

.hero {
  background-image: url("/assets/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.hero-container {
  width: 100vw;
  height: 444px;
  padding: 12px;
}
@media (max-width: 1175px) {
  .hero {
    background-image: url("/assets/hero-image-sm.jpg");
  }
}
@media (max-width: 1024px) {
  .hero {
    background-position: center;
  }
}
@media (max-width: 555px) {
  .hero {
    background-position: 45%;
  }
}
.hero img {
  position: absolute;
  top: 60px;
  right: 20%;
}
@media (max-width: 1175px) {
  .hero img {
    right: 12%;
  }
}
@media (max-width: 1024px) {
  .hero img {
    right: 115px;
  }
}
@media (max-width: 990px) {
  .hero img {
    top: 108px;
    width: 279px;
  }
}
@media (max-width: 850px) {
  .hero img {
    right: 24px;
  }
}

.recipes-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 32px;
  width: 100%;
  margin-top: 40px;
}
@media (max-width: 990px) {
  .recipes-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media (max-width: 555px) {
  .recipes-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.recipe-item {
  background-color: #394150;
  padding: 8px;
  border-radius: 12px;
}
.recipe-item img {
  width: 100%;
  height: 180px;
  border-radius: 12px;
}
@media (max-width: 555px) {
  .recipe-item img {
    height: 240px;
  }
}

.search-form {
  display: flex;
  width: 432px;
  height: 48px;
  padding: 12px 24px;
  border: solid 1px #394150;
  border-radius: 50px;
}
.search-form input {
  background-color: #0E1325;
  margin-left: 12px;
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #E5E7EB;
  font-size: 16px;
}
.search-form input::-moz-placeholder {
  color: #E5E7EB;
}
.search-form input::placeholder {
  color: #E5E7EB;
}/*# sourceMappingURL=style.css.map */